body { 
    background-color:#B5A3F5; 
    padding: 150px;
    font-family: 'Koulen', cursive;

}





h1 {
    color: #EFE6DD;
    text-align: center;

}
 

 img {
 	width: 600px;
 	height: 600px;
 	object-fit: cover;

 }

 .medium {
 	width: 900px;
 	height: 900px;
 	object-fit: cover;
 }

 .little {
    width: 300px;
    height: 300px;
    object-fit: cover;
}


.small-size {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.tiny {
    width: 200px;
    height: 200px;
    object-fit: cover;
}



.elements-center {
	text-align: center;
}

div {
    background-color: #ffffff;
    padding-right: 50px ;
    padding-left: 50px;
    border: 5px solid lightgray;

}

.elements-aligned {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    padding: 50px;

}

.navigation-aligned {
    display: flex;
    justify-content: space-around;
    padding: 30px;


}


a { 

    color: paleturquoise;
    text-decoration: none;

 }

a:hover {
    color: pink;
    font-size: 25px;
    

}










